.field-card {
  flex: 1;
}

.field-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 3%;
  padding-left: 3%;
  padding-top: 3%;
}

.field-card-body {
  font-size: 14px;
}

.field-card-item img {
  width: 40px;
}

.field-card-label {
  padding-top: 3%;
  padding-right: 5%;
  float: right;
}

.field-image {
  flex: 1;
  text-align: right;
}

.field-image img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.view-details-btn {
  background-color: #3447f6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-decoration: none;
  display: inline-block;
}

.view-details-btn:hover {
  background-color: #4758f8;
}