.status-true {
  float: right;
  margin-top: .5%;
  margin-right: 1%;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: bold;
  width: 115px;
  text-align: center;
  background-color: #0d894f4f;
  border-radius: 14px;
  color: #0D894F;
}

.status-false {
  float: right;
  margin-top: .5%;
  margin-right: 1%;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: bold;
  width: 115px;
  text-align: center;
  background-color: #f0443848;
  border-radius: 14px;
  color: #F04438;
}