/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--white-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.navbar-logo {
  color: var(--grey-color);
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center; 
}

.logo-image {
  width: 120px;
  height: auto;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-links {
  color: var(--black-color);
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

.nav-active-links {
  color: var(--light-grey-color);
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

.nav-links:hover {
  color: var(--light-grey-color);
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.nav-buttons a {
  color: var( --black-color );
  margin-right: 10px;
}