.object {
  margin: 1% 1% 1% 1%;
  padding: 1% 1% 1% 1%;

  width: 360px;

  border: 2px solid #E0E2E7;
  border-radius: 5px;

  font-family: 'Inter';
}

.object-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 3%;
  padding-left: 3%;
  padding-top: 3%;
}

.object-body {
  font-size: 14px;
}