.intro {
  justify-content: center;
  display: flex;
  height: 100vh;
  width: 100%;
  /* background-color: var(--light-grey-color); */
}

.intro-image-group {
  width: 50%;
}

.intro-image-group img {
  position: absolute;
  right: 10%;
  bottom: 1%;
  width: 35%;
}

.intro-content {
  width: 50%;
}

.intro-content h1 {
  color: var(--light-blue-color);
  font-size: 60px;
  margin-left: 80px;
  margin-top: 180px;
}

.intro-button {
  margin-left: 150px;
  padding: 10px;
  border: 1px solid var( --black-color );
  color: var( --black-color );
  border-radius: 15px;
}