.login-container {
  margin-top: 120px;
  background-color: var(--bg-color);
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content {
  background-color: var(--white-color);
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 25px;
}

label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid var(--grey-color);
  border-radius: 4px;
}

.mt-3 {
  margin-top: 1rem;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}