@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

:root {
    --bg-color: #ffffff;
    /* --bg-color: linear-gradient(to bottom, #ffffff, #b2b2b2); */
    /* --bg-color: linear-gradient(to bottom, #2a4e29, #0b3408); */
    --main-color: #74b9ff;
    --hovermain-color: #41a0ff;
    --grey-color: #f0f0f0;
    --loginhover-color: #d9d9d9;
    --hovergrey-color: #808080;
    --hovergrey-color: #41a0ff;
    --black-color: #000000;
    --white-color: #ffffff;
}

::selection {
    color: var(--white-color);
    background: var(--main-color);
}

body {
    overflow-x: hidden;
}

/* Navbar */
.bg {
    height: 731px;
    background-image: var(--bg-color);
}

header {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

a {
    text-decoration: none;
    cursor: pointer;
}
  
.username {
    margin-left: 5px;
}

/* ObjectPage */

.objectList {
    float: left;
    margin-right: 10%;
    margin-bottom: 5%;
}

.greeting { 
    text-align: center;
    margin-bottom: 5%;
}


/* Object  */

.object {
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;

    width: 360px;

    border: 2px solid #E0E2E7;
    border-radius: 5px;

    font-family: 'Inter';
}

.object-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 3%;
    padding-left: 3%;
    padding-top: 3%;
}

.object-body {
    font-size: 14px;
}

.listContent {
    padding-top: 3%;
    padding-right: 5%;
    float: right;
}

.statusTrue {
    float: right;
    margin-top: .5%;
    margin-right: 1%;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: bold;
    width: 115px;
    text-align: center;
    background-color: #0d894f4f;
    border-radius: 14px;
    color: #0D894F;
}

.statusFalse {
    float: right;
    margin-top: .5%;
    margin-right: 1%;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: bold;
    width: 115px;
    text-align: center;
    background-color: #f0443848;
    border-radius: 14px;
    color: #F04438;
}


/* History table  */

.tableHead {
    background-color: F9F9FC;
}

.statusRow {
    /* border: 5px solid; */
    margin: auto;
    width: 30%;
    /* padding: 10px; */
}

.action {
    margin-left: 3%;
}


/* Object  */

.content {
    margin-top: 10%;
}

.objectContent {
    margin-bottom: 15%;
}

.mainText {
    font-size: 30px;
    /* height: 300px; */
    /* font-weight: ; */
}

/* Fields  */

.field { 
    border: 1px black solid;
}



/* Profile */
.profile-container {
    margin-top: 120px;
}

.avatar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.avatar {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}


/* Login */
.login-container {
    margin-top: 10%;
}

/* Register */
.register-container {
    margin-top: 10%;
}

/* User Field */
.field-user-container {
    margin-top: 180px;
}

.field-user-container {
    margin-top: 120px;
}
  
.field-user-container {
    margin-top: 170px;
}
  
.field-image-container {
    position: relative;
    height: 0;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
}
  
.field-image-ratio {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.field-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.text-color-blue {
    color: var(--hovermain-color);
}

/* Map  */
.map-container {
    height: 100vh;
}

.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}
